#extended-metadata{ :class => "row"}
  %p.caption{:style => 'width: 46%;'}
    %label{ :for => "asset_caption" } Caption
    = text_field :asset, :caption, :class => 'textbox', :style => 'width: 100%; font-size: 130%; font-family:Georgia,Palatino,"Times New Roman",Times,serif;'
  %p.keywords{:style => 'width: 46%;'}
    %label{ :for => "asset_keywords" } Keywords
    = text_field :asset, :keywords, :class => 'textbox', :style => 'width: 100%; font-size: 130%; font-family:Georgia,Palatino,"Times New Roman",Times,serif;'
